<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', path="css/styles.css")}}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <!-- todo: navbar here with some details like logo -->
            <img src="" alt="">
        </header>
        <section>
            <h1>Dashboard</h1>
            <table>
                <thead>
                    <tr>Answer ID</tr>
                    <tr>Result Accuracy</tr>
                    <tr>Member Support</tr>
                    <tr>Turnaround Time</tr>
                    <tr>Feedback</tr>
                    <tr>Video</tr>
                    <tr>Email</tr>
                    <tr>Reviewee IP</tr>
                    <tr>Status</tr>
                    <tr>Timestamp</tr>
                </thead>
                <tbody>
                    <tr>
                        {% for answer in answers %}
                        <td>{{answer.ans_id}}</td>
                        <td>{{answer.result_accurancy}}</td>
                        <td>{{answer.member_support}}</td>
                        <td>{{answer.turnaround_time}}</td>
                        <td>{{answer.feedback}}</td>
                        <td>{{answer.vid_upload}}</td>
                        <td><a href="mailto:{{answer.email}}">{{answer.email}}</a>></td>
                        <td>{{answer.reviewee_host}}</td>
                        <td>{{ans_status}}</td>
                        <td>{{answer_ts}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
        </section>
        <footer></footer>
        <script src="" async defer></script>
    </body>
</html>